# Project Phase II: Raquel Castromonte

2018 - 2019 Students in Temporary Housing School Level Report

Data catalog: https://catalog.data.gov/dataset/2018-2019-students-in-temporary-housing-school-level-report
Database found on: https://data.cityofnewyork.us/Education/2018-2019-Students-in-Temporary-Housing-School-Lev/8iee-pzu6

Possible question this might answer: Differences in student housing per borough

In [1]:
## load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
#load data
students = pd.read_csv("2018_-_2019_Students_in_Temporary_Housing_School_Level_Report.csv")

In [14]:
students.head()
students.shape

(1719, 6)

In [4]:
#create a new column named "Boroughs" and extract the borough from the letter in the column "DBN" 
students["Borough"] = np.nan
for i in range(len(students["DBN"])):
    hi = students.loc[i]
    letter =  hi["DBN"][2]
    if letter == "M":
        students["Borough"][i] = "Manhattan"
    elif letter == "X":
        students["Borough"][i] = "Bronx"
    elif letter == "Q":
        students["Borough"][i] = "Queens"
    elif letter == "K":
        students["Borough"][i] = "Brooklyn"
    elif letter == "S":
        students["Borough"][i] = "Staten_Island"

C:\Users\raquel\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\raquel\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\raquel\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\raquel\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\raquel\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [5]:
#delete columns that we will not use
students = students.drop(['DBN', '% Students in Temporary Housing', 'School Name','# Doubled Up'], axis = 1)

In [ ]:
#check the data types of each column
students.dtypes

In [8]:
#group by borough
by_borough = students.groupby(by = "Borough")

           # Total Students
Borough
Bronx            548.420398
Brooklyn         586.915709
Manhattan        471.078788
Queens           824.772251

# Total Students                    int64
# Students in Temporary Housing    object
# Students Residing in Shelter     object
# Residing in DHS Shelter          object
# Residing in Non-DHS Shelter      object
Borough                            object
dtype: object

In [7]:
#group by borough 
#by_borough = students.groupby(by = "Borough", axis = "rows").mean()
#total number of students by borough
#total_students_by_b = by_borough.sum()

#total number of students according to the dataframe
#total_students = sum(total_students_by_b["# Total Students"])
#print(students.groupby(['# Total Students', '# Students in Temporary Housing',
#       '# Students Residing in Shelter', '# Residing in DHS Shelter',
#       '# Residing in Non-DHS Shelter'], as_index = False)["Borough"].sum())