# Inequality in NYC 

New York City consists of five boroughs: Manhattan, Queens, The Bronx, Brooklyn, and Staten Island. While New York City is known for wealth, booming industries, and job opportunities, there are also many individuals in many areas that struggle to live. According to The Center of [New York City Affairs](http://www.centernyc.org/inequality-poverty), approximately one in five New Yorkers lives in poverty and nearly half the city’s households are considered near poor.

# Research Question

How does the borough/neighborhood one lives in New York City and their demographic affect ones quality of life including rent burden, accessibility to healthcare, and education?

In our project, we chose to look at multiple datasets to see these varying trends and answer different parts of our questions.

## Research Question Part 1

What are the trends in rent burdens across New York City for different boroughs?

We used NYC Open Data on [Housing Data](https://data.cityofnewyork.us/City-Government/Demographics-and-profiles-at-the-Neighborhood-Tabu/hyuz-tij8) to help answer our question.

In [117]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats
import seaborn as sns

First, we loaded out dataset and subsetted the data to only include values of percent of income spent on rent -- measuring burden of rent on a household. Additionally, we removed the last columns that included values for the Staten Island Cemetery. We then did the same operations with gross rent to create two different dataframes to look at. The heads of the two dataframes are displayed below.

In [118]:
# load csv and dropping rows
rent = pd.read_csv("rent.csv", skiprows=5)


# number of rows to drop 
n = 22
  
# dropping last n rows using drop 
rent.drop(rent.tail(n).index, inplace = True) 

# check
# print(rent.tail())

# keep only rent burden rows
rent_burden = rent[142:-2]

# keep only gross rent rows
gross_rent = rent[132:140]

# remove Staten Island Cemetery column
rent_burden = rent_burden.iloc[:,:-4]
gross_rent = gross_rent.iloc[:,:-4]


# check
display(rent_burden.head())
display(gross_rent.head())

# print(len(rent_burden), ' ', len(gross_rent))

,Unnamed: 0,BK72 Williamsburg,Unnamed: 2,Unnamed: 3,Unnamed: 4,BK73 North Side-South Side,BK73 North Side-South Side.1,BK73 North Side-South Side.2,BK73 North Side-South Side.3,BK76 Greenpoint,...,SI32 Rossville-Woodrow.2,SI32 Rossville-Woodrow.3,SI48 Arden Heights,SI48 Arden Heights.1,SI48 Arden Heights.2,SI48 Arden Heights.3,SI54 Great Kills,SI54 Great Kills.1,SI54 Great Kills.2,SI54 Great Kills.3
142,Occupied units paying rent (excl. units where ...,"6,952",272,100.0,-,"15,842",463,100.0,-,"11,691",...,100.0,-,"1,123",263,100.0,-,"2,114",341,100.0,-
143,Less than 15.0 percent,886,214,12.7,3.0,"2,002",304,12.6,1.9,"1,809",...,12.0,6.3,156,87,13.9,7.1,227,129,10.7,5.9
144,15.0 to 19.9 percent,376,122,5.4,1.7,"1,841",270,11.6,1.7,"1,480",...,20.5,13.1,270,151,24.0,12.2,463,177,21.9,7.6
145,20.0 to 24.9 percent,399,146,5.7,2.1,"2,057",308,13.0,1.9,"1,697",...,19.5,12.6,159,100,14.2,8.3,302,144,14.3,6.4
146,25.0 to 29.9 percent,678,175,9.8,2.5,"1,654",285,10.4,1.8,"1,432",...,4.3,5.6,61,67,5.4,5.8,241,134,11.4,6.1

,Unnamed: 0,BK72 Williamsburg,Unnamed: 2,Unnamed: 3,Unnamed: 4,BK73 North Side-South Side,BK73 North Side-South Side.1,BK73 North Side-South Side.2,BK73 North Side-South Side.3,BK76 Greenpoint,...,SI32 Rossville-Woodrow.2,SI32 Rossville-Woodrow.3,SI48 Arden Heights,SI48 Arden Heights.1,SI48 Arden Heights.2,SI48 Arden Heights.3,SI54 Great Kills,SI54 Great Kills.1,SI54 Great Kills.2,SI54 Great Kills.3
132,Occupied units paying rent,"7,016",261,100.0,-,"15,914",460,100.0,-,"12,027",...,100.0,-,"1,123",263,100.0,-,"2,171",342,100.0,-
133,Less than $200,267,116,3.8,1.6,246,109,1.5,0.7,75,...,0.0,-,0,-,0.0,-,0,-,0.0,-
134,$200 to $299,966,199,13.8,2.8,997,196,6.3,1.2,160,...,0.0,-,23,28,2.0,2.4,15,24,0.7,1.1
135,$300 to $499,"1,082",202,15.4,2.8,"1,075",212,6.8,1.3,315,...,0.0,-,0,-,0.0,-,38,45,1.8,2.1
136,$500 to $749,"1,005",210,14.3,2.9,"1,951",312,12.3,1.9,659,...,5.2,5.9,79,74,7.0,6.4,191,117,8.8,5.2

Looking at these dataframes, we have a ton of unnecessary columns. We removed the estimates, margin of error, and percent margin of error columns and only kept the percent column. We performed this by only keeping every fourth column starting with the third column. Then we inserted back the first column which contained our descriptions/labels.

We performed this for both the rent_burden and gross_rent dataframes.

In [119]:
# for rent_burden
# get rid of estimates, MOE and Percent MOE columns - keep only percents
rent_burden_percent = rent_burden.iloc[:,3::4].copy()
# save the row names
rent_burden_row = rent_burden.iloc[:, 0].copy()
# insert first column back into dataframe
rent_burden_percent.insert(0, 'GRAPI', rent_burden_row)

# for gross_rent
# get rid of estimates, MOE and Percent MOE columns - keep only percents
gross_rent_percent = gross_rent.iloc[:,3::4].copy()
# save the row names
gross_rent_row = gross_rent.iloc[:, 0].copy()
# insert first column back into dataframe
gross_rent_percent.insert(0, 'Gross Rent', gross_rent_row)

# check
display(rent_burden_percent.tail())
display(gross_rent_percent.head())

,GRAPI,Unnamed: 3,BK73 North Side-South Side.2,BK76 Greenpoint.2,BK90 East Williamsburg.2,BK09 Brooklyn Heights-Cobble Hill.2,BK38 DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill.2,BK68 Fort Greene.2,BK69 Clinton Hill.2,BK35 Stuyvesant Heights.2,...,SI14 Grasmere-Arrochar-Ft. Wadsworth.2,SI24 Todt Hill-Emerson Hill-Heartland Village-Lighthouse Hill.2,SI36 Old Town-Dongan Hills-South Beach.2,SI45 New Dorp-Midland Beach.2,SI01 Annadale-Huguenot-Prince's Bay-Eltingville.2,SI11 Charleston-Richmond Valley-Tottenville.2,SI25 Oakwood-Oakwood Beach.2,SI32 Rossville-Woodrow.2,SI48 Arden Heights.2,SI54 Great Kills.2
144,15.0 to 19.9 percent,5.4,11.6,12.7,13.3,15.8,14.8,13.4,13.4,10.8,...,13.0,15.0,10.5,9.7,17.2,12.3,16.9,20.5,24.0,21.9
145,20.0 to 24.9 percent,5.7,13.0,14.5,14.8,16.2,14.5,13.8,14.1,11.4,...,10.9,13.8,11.3,10.2,14.8,10.1,10.2,19.5,14.2,14.3
146,25.0 to 29.9 percent,9.8,10.4,12.2,12.6,13.8,13.6,13.4,11.9,11.4,...,12.0,7.8,6.8,9.0,9.4,9.2,12.0,4.3,5.4,11.4
147,30.0 to 34.9 percent,9.0,10.3,8.7,9.0,4.2,9.3,10.0,7.8,10.8,...,9.9,7.7,14.6,6.8,10.2,12.9,9.4,4.2,0.7,1.3
148,35.0 percent or more,57.4,42.0,36.4,38.4,29.4,31.1,34.7,39.7,44.7,...,40.4,42.7,43.0,47.2,34.6,42.8,39.0,39.4,41.8,40.4

,Gross Rent,Unnamed: 3,BK73 North Side-South Side.2,BK76 Greenpoint.2,BK90 East Williamsburg.2,BK09 Brooklyn Heights-Cobble Hill.2,BK38 DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill.2,BK68 Fort Greene.2,BK69 Clinton Hill.2,BK35 Stuyvesant Heights.2,...,SI14 Grasmere-Arrochar-Ft. Wadsworth.2,SI24 Todt Hill-Emerson Hill-Heartland Village-Lighthouse Hill.2,SI36 Old Town-Dongan Hills-South Beach.2,SI45 New Dorp-Midland Beach.2,SI01 Annadale-Huguenot-Prince's Bay-Eltingville.2,SI11 Charleston-Richmond Valley-Tottenville.2,SI25 Oakwood-Oakwood Beach.2,SI32 Rossville-Woodrow.2,SI48 Arden Heights.2,SI54 Great Kills.2
132,Occupied units paying rent,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
133,Less than $200,3.8,1.5,0.6,0.7,0.2,2.3,2.2,0.6,2.3,...,3.8,0.0,0.0,0.6,2.5,0.0,0.0,0.0,0.0,0.0
134,$200 to $299,13.8,6.3,1.3,7.1,1.4,12.5,11.0,2.3,8.0,...,13.1,4.1,4.7,0.0,0.0,0.4,0.6,0.0,2.0,0.7
135,$300 to $499,15.4,6.8,2.6,5.7,2.1,10.8,10.3,3.4,9.3,...,14.1,3.8,8.7,0.5,0.1,0.6,5.0,0.0,0.0,1.8
136,$500 to $749,14.3,12.3,5.5,14.5,5.3,13.5,9.6,9.5,13.2,...,10.0,4.4,13.6,6.4,5.0,3.3,3.7,5.2,7.0,8.8

Next, we further cleaned the data by transposing the dataframes, renaming the columns to easier to read strings, then removed the unnamed column. After these operations, we transposed the dataframe back. We performed this on both the rent_burden and gross_rent dataframe.

In [120]:
# rent_burden
rent_burden_percent_t = rent_burden_percent.T
rent_burden_percent_t.rename(columns = {142 : 'occupied_units', 143 : '<15%', 144 : '15-19.9%', 145 : '20-24.9%', 146 : '25-29.9%',
                                         147 : '30-34.9%', 148 : '>35%', 149 : 'not_computed'}, inplace = True)

rent_burden_percent_t= rent_burden_percent_t.iloc[2:,1:8]


# print(rent_burden_percent_t.head())
# print(rent_burden_estimates_t.tail())

rent_burden_percent = rent_burden_percent_t.T

# display(rent_burden_percent.tail())


# gross_rent
gross_rent_percent_t = gross_rent_percent.T
gross_rent_percent_t.rename(columns = {132 : 'occupied_units', 133 : '<200', 134 : '200-299', 135 : '300-499', 136 : '500-749',
                                         137 : '750-999', 138 : '1000-1499', 139 : '>1500'}, inplace = True)

gross_rent_percent_t= gross_rent_percent_t.iloc[2:,1:8]


# print(rent_burden_percent_t.head())
# print(rent_burden_estimates_t.tail())

gross_rent_percent = gross_rent_percent_t.T

display(gross_rent_percent.head())
display(gross_rent_percent.tail())

,BK73 North Side-South Side.2,BK76 Greenpoint.2,BK90 East Williamsburg.2,BK09 Brooklyn Heights-Cobble Hill.2,BK38 DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill.2,BK68 Fort Greene.2,BK69 Clinton Hill.2,BK35 Stuyvesant Heights.2,BK75 Bedford.2,BK77 Bushwick North.2,...,SI14 Grasmere-Arrochar-Ft. Wadsworth.2,SI24 Todt Hill-Emerson Hill-Heartland Village-Lighthouse Hill.2,SI36 Old Town-Dongan Hills-South Beach.2,SI45 New Dorp-Midland Beach.2,SI01 Annadale-Huguenot-Prince's Bay-Eltingville.2,SI11 Charleston-Richmond Valley-Tottenville.2,SI25 Oakwood-Oakwood Beach.2,SI32 Rossville-Woodrow.2,SI48 Arden Heights.2,SI54 Great Kills.2
<200,1.5,0.6,0.7,0.2,2.3,2.2,0.6,2.3,2.7,0.8,...,3.8,0.0,0.0,0.6,2.5,0.0,0.0,0.0,0.0,0.0
200-299,6.3,1.3,7.1,1.4,12.5,11.0,2.3,8.0,8.0,2.3,...,13.1,4.1,4.7,0.0,0.0,0.4,0.6,0.0,2.0,0.7
300-499,6.8,2.6,5.7,2.1,10.8,10.3,3.4,9.3,8.9,3.1,...,14.1,3.8,8.7,0.5,0.1,0.6,5.0,0.0,0.0,1.8
500-749,12.3,5.5,14.5,5.3,13.5,9.6,9.5,13.2,14.9,8.4,...,10.0,4.4,13.6,6.4,5.0,3.3,3.7,5.2,7.0,8.8
750-999,12.8,15.1,15.7,8.0,7.6,11.2,14.4,16.7,15.4,17.7,...,14.9,17.5,15.8,16.0,28.6,11.7,17.2,18.2,17.9,11.0

,BK73 North Side-South Side.2,BK76 Greenpoint.2,BK90 East Williamsburg.2,BK09 Brooklyn Heights-Cobble Hill.2,BK38 DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill.2,BK68 Fort Greene.2,BK69 Clinton Hill.2,BK35 Stuyvesant Heights.2,BK75 Bedford.2,BK77 Bushwick North.2,...,SI14 Grasmere-Arrochar-Ft. Wadsworth.2,SI24 Todt Hill-Emerson Hill-Heartland Village-Lighthouse Hill.2,SI36 Old Town-Dongan Hills-South Beach.2,SI45 New Dorp-Midland Beach.2,SI01 Annadale-Huguenot-Prince's Bay-Eltingville.2,SI11 Charleston-Richmond Valley-Tottenville.2,SI25 Oakwood-Oakwood Beach.2,SI32 Rossville-Woodrow.2,SI48 Arden Heights.2,SI54 Great Kills.2
300-499,6.8,2.6,5.7,2.1,10.8,10.3,3.4,9.3,8.9,3.1,...,14.1,3.8,8.7,0.5,0.1,0.6,5.0,0.0,0.0,1.8
500-749,12.3,5.5,14.5,5.3,13.5,9.6,9.5,13.2,14.9,8.4,...,10.0,4.4,13.6,6.4,5.0,3.3,3.7,5.2,7.0,8.8
750-999,12.8,15.1,15.7,8.0,7.6,11.2,14.4,16.7,15.4,17.7,...,14.9,17.5,15.8,16.0,28.6,11.7,17.2,18.2,17.9,11.0
1000-1499,16.9,32.9,22.1,18.5,9.9,18.4,27.4,35.1,28.6,44.4,...,24.6,44.9,38.5,56.1,28.0,43.0,51.0,48.8,43.5,43.0
>1500,43.4,41.9,34.3,64.6,43.6,37.4,42.5,15.4,21.4,23.3,...,19.5,25.3,18.7,20.4,35.7,40.8,22.4,27.9,29.6,34.8

In [127]:
borough = []
for col in rent_burden_percent:
    if col.startswith('BK'):
        borough.append('Brooklyn')
    if col.startswith('BX'):
        borough.append('Bronx')
    if col.startswith('MN'):
        borough.append('Manhattan')
    if col.startswith('QN'):
        borough.append('Queens')
    if col.startswith('SI'):
        borough.append('Staten Island')

rent_burden_percent_transpose = rent_burden_percent.T
gross_rent_percent_transpose  = gross_rent_percent.T

rent_burden_percent_transpose['<15%'] = pd.to_numeric(rent_burden_percent_transpose['<15%'])
rent_burden_percent_transpose['15-19.9%'] = pd.to_numeric(rent_burden_percent_transpose['15-19.9%'])
rent_burden_percent_transpose['20-24.9%'] = pd.to_numeric(rent_burden_percent_transpose['20-24.9%'])
rent_burden_percent_transpose['25-29.9%'] = pd.to_numeric(rent_burden_percent_transpose['25-29.9%'])
rent_burden_percent_transpose['30-34.9%'] = pd.to_numeric(rent_burden_percent_transpose['30-34.9%'])
rent_burden_percent_transpose['>35%'] = pd.to_numeric(rent_burden_percent_transpose['>35%'])

gross_rent_percent_transpose['<200'] = pd.to_numeric(gross_rent_percent_transpose['<200'])
gross_rent_percent_transpose['200-299'] = pd.to_numeric(gross_rent_percent_transpose['200-299'])
gross_rent_percent_transpose['300-499'] = pd.to_numeric(gross_rent_percent_transpose['300-499'])
gross_rent_percent_transpose['500-749'] = pd.to_numeric(gross_rent_percent_transpose['500-749'])
gross_rent_percent_transpose['750-999'] = pd.to_numeric(gross_rent_percent_transpose['750-999'])
gross_rent_percent_transpose['>1500'] = pd.to_numeric(gross_rent_percent_transpose['>1500'])

rent_burden_percent_transpose['rent_burdened'] = (rent_burden_percent_transpose[['30-34.9%','>35%']]).sum(axis=1)
rent_burden_percent_transpose['borough'] = borough

display(rent_burden_percent_transpose.head())

,<15%,15-19.9%,20-24.9%,25-29.9%,30-34.9%,>35%,rent_burdened,borough
BK73 North Side-South Side.2,12.6,11.6,13.0,10.4,10.3,42.0,52.3,Brooklyn
BK76 Greenpoint.2,15.5,12.7,14.5,12.2,8.7,36.4,45.1,Brooklyn
BK90 East Williamsburg.2,11.9,13.3,14.8,12.6,9.0,38.4,47.4,Brooklyn
BK09 Brooklyn Heights-Cobble Hill.2,20.7,15.8,16.2,13.8,4.2,29.4,33.6,Brooklyn
BK38 DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill.2,16.7,14.8,14.5,13.6,9.3,31.1,40.4,Brooklyn

In [44]:
rent_burden_percent['brooklyn'] = rent_burden_percent.loc[:,rent_burden_percent.columns.str.startswith('BK')].median(axis=1)
# print(rent_burden_estimates.loc[:,rent_burden_estimates.columns.str.startswith('BK')])
# print(rent_burden_percent['brooklyn'])


rent_burden_percent['bronx'] = rent_burden_percent.loc[:,rent_burden_percent.columns.str.startswith('BX')].median(axis=1)
# print(rent_burden_estimates.loc[:,rent_burden_estimates.columns.str.startswith('BX')])
# print(rent_burden_estimates['bronx'])

rent_burden_percent['manhattan'] = rent_burden_percent.loc[:,rent_burden_percent.columns.str.startswith('MN')].median(axis=1)
# print(rent_burden_estimates.loc[:,rent_burden_estimates.columns.str.startswith('MN')])
# print(rent_burden_estimates['manhattan'])

rent_burden_percent['queens'] = rent_burden_percent.loc[:,rent_burden_percent.columns.str.startswith('QN')].median(axis=1)
# print(rent_burden_estimates.loc[:,rent_burden_estimates.columns.str.startswith('QN')])
# print(rent_burden_estimates['queens'])

rent_burden_percent['staten'] = rent_burden_percent.loc[:,rent_burden_percent.columns.str.startswith('SI')].median(axis=1)
# print(rent_burden_estimates.loc[:,rent_burden_estimates.columns.str.startswith('SI')])
# print(rent_burden_estimates['staten'])

Finally, we subsetted our dataframe to only include the average borough columns.

In [45]:
# subset to only include average borough columns
rent_burden_percent = rent_burden_percent[['brooklyn', 'bronx', 'manhattan', 'queens', 'staten']] 
display(rent_burden_percent)

            brooklyn  bronx  manhattan  queens  staten
<15%           11.75   9.65       17.6   11.40   12.65
15.0-19.9%     10.55   9.75       11.8   11.40   13.00
20-24.9%       11.60   9.95       11.8   12.00   11.50
25-29.9%       11.20  10.30       11.2   10.70    9.35
30-34.9%        9.15   9.40        8.7    8.85    7.55
>35%           45.95  49.60       35.4   45.25   42.75

## Data Description
* The original dataset had different rows be the housing characteristics from rent, household type, rent burden, etc… and the columns were the different neighborhoods. The cleaned data set had the rows be the percent burden of rent and the columns be the five boroughs in NYC.
* This dataset was created as a part of an initiative to increase transparency, accessibility, and accountability of the City government.
* According to their website, NYC Open Data makes the wealth of public data generated by various New York City agencies and other City organizations available for public use. It is funded by the New York City government. This specific dataset was provided by the Department of City Planning.
* Many different politics/policies in NYC affect what type of data is collected. There are many different reasons why these estimates might not be an accurate representation of differences across boroughs including homelessness, lack of documentation, people over or underreporting their income, etc… 
* We dropped rows of unnecessary housing data that did not look at the rent burden. We also dropped unnecessary neighborhoods that had missing values such as the Staten Island Cemetery. We further cleaned the data by only looking at the median estimates by borough, and median percent estimates by borough and dropped all other columns.
* Since this is not personalized data, the people involved might not be fully aware that their data is being used and collected. However, since it is in aggregate form there should be no privacy or expectation concerns.
* The raw dataset can be found [here](https://drive.google.com/file/d/1mL4DjAYRaL2f184_WdoQd-u0ETNvYvgU/view?usp=sharing).


## Data Limitiations
This data shows five year estimates from 2008-2012, so we don't get a glimpse of what is happening year to year and how the rent burden is changing for each district -- it might be getting better or worse for some districts and we cannot exactly tell from the data. Furthermore, this data is quite old and does not take into acccount recent political events and policies that likely have afffected housing policy in NYC.

## Initial Analysis
We looked at a line plot that compared our average rent burden percents by borough.

In [ ]:
rent_burden_percent.plot.line()
plt.show()


In this finalized dataset, we see the median percent of households that are under each division of rent burden by each borough in New York City. Across all boroughs, residents spend a very large amount of their income on rent. 

While the differences in rent burden between boroughs do not seem that jarring, one large difference is what we see residents in the Bronx pay as a percent of their income vs residents in Manhattan. The percentage of residents that spend more than 35% of their income on living is nearly 50%, while the percent of residents that pay the same income burden on rent in Manhattan is only 35%. If we were also to compare [poverty levels](https://www1.nyc.gov/site/opportunity/poverty-in-nyc/data-tool.page) from the same time end - 2012, we see that Staten Island held the lowest poverty level at 13.4%, Manhattan the second lowest at 14.7%, Queens at 21.8%, Brooklyn at 22.3%, and the Bronx at 25.2%. 

The comparisons between poverty and income show us that in neighborhoods that face higher poverty levels, they may actually be more burdened by rent than their wealthier counterparts. This demonstrates a discrepancy in the quality of life and wealth that can be accumulated across boroughs.

## Research Question Part 2

What are the trends in healthcare accessibility across New York City for different neighborhood?

We imported the csv file using read_csv and saved it to a variable so that I could begin to perform a cleaning an analysis with the data set.

In [ ]:
#reading the csv file 
health = pd.read_csv('health.csv')
health.head()

In [ ]:
#how much data
health.shape

We used health.shape to display the numnber of rows and columns currenlty present in the data set before I began to clean.

In [ ]:
#grabbing columns from data set
columns_we_want = [ "insuredgateway19","generalhealth", "visitnonpcp12m19", "pcp19","didntgetcare19","emp3", "insure5","birthsex","imputed_neighpovgroup4_1418", "fluvaccineshot","everhepavaccine","fruitveg19"]
health[columns_we_want]
health = health[columns_we_want]

I began to clean the data by looking through the columns and choosing the ones that would be useful to my analysis and would be the best representation of access to healthcare. I grabbed the columns by creating a list of the column names I wanted to use and saved it as columns_we_want. Than I overrode the original dataset by using health = health[columns_we_want]

In [ ]:
#renaming columns
health = health.rename(columns = {'insuredgateway19' : 'insured', 'visitnonpcp12m19' : 'seen_a_doctor_in_12months?', 'pcp19' : 'primary_doctor', 'insure5': 'who_insures_you','emp3': 'employed', 'imputed_neighpovgroup4_1418': 'below_poverty','fruitveg19':'fruit_veggie_servings','everhepavaccine': 'revieved_hepatatis_vaccine','didntgetcare19': 'didnt_get_care'})
health.head()

Here we began to rename the columns, so that they were easier to understand. We went about this by creating a dictionary that contained both the original column name and the one we wanted to change it to. This was executed using he .rename() function.

In [ ]:
# describing the basics of the numerical data using the describe varaibles
health.describe()

Here we utilized the .describe() fuction to give the overall numeric statistics of the categorical data.

In [ ]:
#Renaming data points in below_poverty and other columns I am preforming analysis on so that the data is understandable to the user. 
health_copy1 = health.copy()
health_copy1.loc[health_copy1.below_poverty == 1, "below_poverty"] = "0 - <10% (low pov)%"
health_copy1.loc[health_copy1.below_poverty == 2, "below_poverty"] = "10 - <20%"
health_copy1.loc[health_copy1.below_poverty == 3, "below_poverty"] = "20 - <30%"
health_copy1.loc[health_copy1.below_poverty == 4, "below_poverty"] = "30 - <100% (very high)"

health_copy1.loc[health_copy1.insured == 1, "insured"] = "yes"
health_copy1.loc[health_copy1.insured == 2, "insured"] = "no"

health_copy1.loc[health_copy1.primary_doctor == 1, "primary_doctor"] = "yes"
health_copy1.loc[health_copy1.primary_doctor == 2, "primary_doctor"] = "no"

health_copy1.loc[health_copy1.didnt_get_care == 1, "didnt_get_care"] = "yes"
health_copy1.loc[health_copy1.didnt_get_care == 2, "didnt_get_care"] = "no"

health_copy1.loc[health_copy1.who_insures_you == 1, "who_insures_you"] = "Private"
health_copy1.loc[health_copy1.who_insures_you == 2, "who_insures_you"] = "self-purchase"
health_copy1.loc[health_copy1.who_insures_you == 3, "who_insures_you"] = "Medicare"
health_copy1.loc[health_copy1.who_insures_you == 4, "who_insures_you"] = "Medicaid"
health_copy1.loc[health_copy1.who_insures_you == 4, "who_insures_you"] = "Others"
health_copy1.loc[health_copy1.who_insures_you == 4, "who_insures_you"] = "Uninsured"


display(health_copy1.head())

We then went on to clean the data further to give the values the categorical meaning that they were assigned, so that the value_counts analysis and histograms would be more clear than they would have had they still be categorized by numbers. We chose to save the values to a copy of the health data (health_copy1) in cause we chose to use the numerical values in a later analysis.

In [ ]:
display(health_copy1.didnt_get_care.value_counts(normalize=True)*100)
display(health_copy1.insured.value_counts(normalize=True)*100)
display(health_copy1.primary_doctor.value_counts(normalize=True)*100)

The previous cells shows the demographics of NYC as a whole and it calculates the percentages of  those who have insurance, those who have a primary doctor, and those who are unable to recieve care when they need it. These percents can later be used to compare the neighborhoods of different income levels to NYC overall. The percents were found using the value_counts() fucntion, and normalizing the data to show it as a ratio. This ratio was then multiplied ny 100 to create a percent.

In [ ]:
plt.hist(health_copy1['below_poverty'])
plt.xlabel('% of residents below the poverty line',fontsize=10)
plt.ylabel("#  of residents living in those neighborhoods",fontsize=10)
plt.title('distribution of residents living in specific income neighborhoods',fontsize=10)

We created this histogram using the plt.hist function. The histogram is used to display the number of NYC residents surveyed who fall into each of the categories of specific below poverty percentages.

In [ ]:
group_poverty = health_copy1.groupby('below_poverty').insured
insured_poverty= group_poverty.value_counts(normalize=True)*100
print(insured_poverty)

This analysis shows that as the below poverty percentage increases (more people in that neighborhood are living in poverity) then the percent of people insured decreases. As the number of people in poverty increases, the percent of those with insurance decreases by about an increment of about 3% each time. This creates an approximate 8% differnce in those insured in the neighborhoods with the lowest poverty rate to the highest.

This analysis shows that as the below poverty percentage increases (more people in that neighborhood are living in poverity) then the percent of people insured decreases. As the number of people in poverty increases, the percent of those with insurance decreases by about an increment of about 3% each time. This creates an approximate 8% differnce in those insured in the neighborhoods with the lowest poverty rate to the highest.

In [ ]:
group_poverty2 = health_copy1.groupby('below_poverty').primary_doctor
dr_poverty = group_poverty2.value_counts(normalize=True)*100
print(dr_poverty)

This analysis uses the .groupby() function to group the data by the percent of people in a neighborhood who are below the poverty line. After the groups were formed, the percents of those who had a primary doctory within each poverty level were found using the value_counts() fucntion, and normalizing the data to show it as a ratio. This ratio was then multiplied ny 100 to create a percent.

In [ ]:
group_poverty3 = health_copy1.groupby('below_poverty').didnt_get_care
didnt_poverty = group_poverty3.value_counts(normalize=True)*100
print(didnt_poverty)

This analysis uses the .groupby() function to group the data by the percent of people in a neighborhood who are below the poverty line. After the groups were formed, the percents of those who didn't get care when they needed it within each poverty level were found using the value_counts() fucntion, and normalizing the data to show it as a ratio. This ratio was then multiplied by 100 to create a percent.

In [ ]:
# i want to make a group by so i can see the distribution of what insuraunce each neighborhood has 
plt.hist(health_copy1['who_insures_you'])
#plt.xlabel('% of residents below the poverty line',fontsize=15)
#plt.ylabel("#  of residents living in those neighborhoods",fontsize=15)
#plt.title('distribution of residents living in specific income neighborhoods',fontsize=15)
plt.show()

## Data Limitations:
The data in the health survery is all categorial data that is represented by numerical values. While some computations can be peformed on the data, this data set is best used in calulating percentages and showing distribution. When trying to show correlation in a scatterplot the results are inconclusive becasue there are only x amount of categories that the population can fall into. 
Beyod calculations, this data is also limited because it only includes those who have access to either a cell phone or a landline. This could possible scew the data as those with housing security are less likely to represent a population who does not have access to healthcare.

## Data explanation: 
This data set is created from a survery given to indivuals in NYC. The data set explores the general health of these residents as well other demographics such as income, gender, etc. The data is all categorical, but is represented as numbers in the dataset. In the finalized data sets we can see how poverty levels in NYC neighborhoods affect an indivuals access to healthcare. The data set can show this relationship by comparing the % of people below poverty in a specific neighborhood to the number of people insured, the number of people who have a regular doctor, and accessiblitiy to needed care. Additionally, this data set can begin to explore access to nutitious foods and vaccinations; however, there may be outside factors that also influence these demograohics that may not be directly seen through income levels.
NOTE: This data set is currently incomplete and we are attempting to get access to boroughs and other demographic information that is not for publce use.

## Data Description:
1. In this data set the rows are equal to the indivual answering the survey questions and the columns are equal to the questions asked on the surver. These questions relate to different health statistics(general health, is the particpant insured?,etc)
2. This data was complied to track risk behaviors and to have a more comprehensive understanding of New York City's residents health. 
3. This data collection was funded by the New York City Department of Health and Mental Hygiene.
4. The data is collected via stratified random sample to find data that gives neighborhood and city-wide information. However, this process is inluenced because data is only collected from households with a landline or residents with a cellular phone. Aditionally, the survey has been only been translated into Spanish, Russian, Chinese , Bengali, and Haitian Creole, which may limit the amount of those who are selected who can participate.
5. The data was pre-processed by adding weight to the data collected in an attempt to negate any human biases that were a result of the participants answering questions about themselves. Additionally, the answers from the surveys were translated into numbers ( an answer 'yes' may now equal '1') before being added to the dataframe.
6. This data is collected based off of interviews, so all of the human paticpants agreed to the survey and knew their data was going to be collected. It is unclear whether or not the participants had knowledge of how their data was going to be used.

## Research Question Part 3

In [ ]:
## load data
school_data = pd.read_csv("Ny_School.csv")
housing_data = pd.read_csv("Student_Temp_Housing.csv")

#### Renaming Columns
In this section, we renamed the columns by making them lower_case and replacing spaces in order to make them easier to work with.

In [ ]:
new_colnames = []
for col in school_data.columns:
    new_colnames.append(col.lower())
    
new_colnames_2 = []
for col in housing_data.columns:
    new_colnames_2.append(col.lower())

In [ ]:
for col in range(len(new_colnames)):
    new_colnames[col] = new_colnames[col].replace(" ", "_")
print (new_colnames)

sdata = school_data.copy()
sdata.columns = new_colnames

for col in range(len(new_colnames_2)):
    new_colnames_2[col] = new_colnames_2[col].replace(" ", "_")
print (new_colnames_2)

sdata = school_data.copy()
sdata.columns = new_colnames

hdata = housing_data.copy()
hdata.columns = new_colnames_2

#### Dropping Columns
Then, we dropped the columns we did not need, only keeping ones relative to our research question which involved keeping school demographic (race make-up), poverty, and students in temporary housing data.

In [ ]:
sdata.drop(sdata.loc[:,["total_enrollment", "#_female", "%_female", "#_male", "%_male", "#_black", "#_white", "#_asian", "#_hispanic", "#_multiple_race_categories_not_represented", "#_students_with_disabilities", "#_english_language_learners", "%_students_with_disabilities", "#_poverty", "%_multiple_race_categories_not_represented", "%_english_language_learners", "economic_need_index"]], inplace = True, axis = 1)
sdata.drop(sdata.loc[:,["grade_pk_(half_day_&_full_day)", 'grade_k', 'grade_1', 'grade_2', 'grade_3', 'grade_4', 'grade_5', 'grade_6', 'grade_7', 'grade_8', 'grade_9', 'grade_10', 'grade_11', 'grade_12']], inplace = True, axis = 1)
display(sdata.head())

hdata.drop(hdata.loc[:, ['#_doubled_up', "school_name", '#_residing_in_non-dhs_shelter', '#_doubled_up'  ]], inplace = True, axis = 1)
display(hdata.head())

#### Adding Columns and Grouping
In this section, we added two new columns in borough + district and boroughs so that we could group by both. In order to achieve this, we wrote two functions which took the dbn school number and converted them to specific boroughs and districts. Then, we grouped all the data by the boroughs and districts, replaced "suppressed values" with 0, and rounded and converted the decimals to percentages.

In [ ]:
def label_borough(col):
    district_number = col['dbn'][0:2]
    if col['dbn'].find("M") == 2:
      return 'Manhattan ' + district_number
    if col['dbn'].find("K") == 2:
      return 'Brooklyn ' + district_number
    if col['dbn'].find("X") == 2 :
      return 'Bronx ' + district_number
    if col['dbn'].find("Q") == 2:
      return 'Queens ' + district_number
    if col['dbn'].find("R") == 2:
      return 'Staten Island ' + district_number

def labelBorough(col):
    if col['borough_and_district_#'].find("Manhattan") != -1:
      return 'Manhattan'
    if col['borough_and_district_#'].find("Brooklyn") != -1:
      return 'Brooklyn'
    if col['borough_and_district_#'].find("Bronx") != -1:
      return 'Bronx'
    if col['borough_and_district_#'].find("Queens") != -1:
      return 'Queens'
    if col['borough_and_district_#'].find("Staten Island")!= -1:
      return 'Staten Island'


sdata['borough_and_district_#'] = sdata.apply (lambda col: label_borough(col), axis=1)

sdata = sdata.groupby(['borough_and_district_#'], as_index=False).mean()

sdata.iloc[:,1:6] = sdata.iloc[:,1:6].mul(100).round(2)
display(sdata.head())

hdata = hdata.replace("s", 0)

hdata['borough_and_district_#'] = hdata.apply (lambda col: label_borough(col), axis=1)

hdata["%_students_in_temporary_housing"] = pd.to_numeric(hdata["%_students_in_temporary_housing"])
hdata["#_total_students"] = pd.to_numeric(hdata["#_total_students"])
hdata["#_students_residing_in_shelter"] = pd.to_numeric(hdata["#_students_residing_in_shelter"])

hdata = hdata.groupby(['borough_and_district_#'], as_index=False).mean()
hdata["borough"] = hdata.apply(lambda col: labelBorough(col), axis=1)
hdata.iloc[:,2] = hdata.iloc[:,2].mul(100).round(2)
hdata.iloc[: ,1:4] = hdata.iloc[: ,1:4].round(2)

display(hdata.head())

#### Merging the two datasets
For this step, we created the final dataframe by merging both the education and housing data by borough and district number using the merge method.

In [ ]:
final_ds = pd.merge(sdata, hdata, on = "borough_and_district_#", how = "inner")
final_ds.head()

## Data Description
For the finalized dataset for housing and education data, we combined two datasets. The rows represent different boroughs and school districts within New York City. The columns make up different demographics, including percentage of Asian, Black, Hispanic, White, and other races, along with percentage of students in poverty. Additionally, they show the total number of students at each public school regardless of housing situation, students residing in shelter, the number and percent of students in temporary housing. Poverty is measured by students who qualify for a free or reduced price lunch program or those eligible for Human Resources Administration benefits. Students in temporary housing are defined as any student 21 or younger enrolled in school and experiencing housing instability at any point during the school year. Temporary housing includes sharing the housing of others, in shelter, in hotel/motel, or in other temporary housing. The total numbers of students and students in temporary housing are disaggregated by school, based on the last school or program a student attended. In 2017-18, there were 105,261 students residing in temporary housing at any point throughout the school year.  The total numbers of students and students in temporary housing are disaggregated by school, based on the last school or program a student attended. The final, revised dataset was created in order to study relationships between districts and specific demographics in order to find insights into poverty levels and temporary housing numbers within the districts. The data was collected using multiple data sources, including the DOE's Audited Register, biographic data from the Automate the Schools (ATS) system, and the Location Code Generation and Management System (LCGMS), and the Department of Homeless Services (DHS). Due to the occasional missing demographic data and long-term-absent students not being accounted for, some of the enrollment numbers do not add up. The people surveyed (students within New York City) are probably aware that their demographic and free lunch status is recorded but this information does not affect the data. The original data set can be found here https://drive.google.com/drive/folders/1B8daIcWqa5voZ6YwI-Jy1ZA4WMcZJdzW?usp=sharing.

## Data Limitations
One significant limitation within the dataset is that only public schools are accounted for (tne school data accounts for charter schools while the housing data does not). The absense of private schools in the dataset results in inflated poverty, racial minority percentages, and housing data for each district as private schools historically account for a higher level of wealthier and white students due to the tuition and prep needed to admitted. Regarding the housing data, The Federal McKinney-Vento Homeless Assistance Act requires school districts to ask families to report on their housing situation. Schools are only required to provide the survey when they are aware that there is a change in address so there may be instances where schools have outdated information. Additionally, families might lie about the state of housing in their families in the questionnaires as they do not want schools prying into their family situation so as a result, the actual temporary housing numbers might be lower than they actually are.

## Initial Analysis
#### Mean values for Columns

In [ ]:
print("The mean Asian enrollment percentage is {:.2f}".format(final_ds["%_asian"].mean()))
print("The std of Asian enrollment percentage is {:.2f}".format(final_ds["%_asian"].std()))
print("\n")

print("The mean Black enrollment percentage is {:.2f}".format(final_ds["%_black"].mean()))
print("The std of Black enrollment percentage is {:.2f}".format(final_ds["%_black"].std()))
print("\n")

print("The mean Hispanic enrollment percentage is {:.2f}".format(final_ds["%_hispanic"].mean()))
print("The std of Hispanic enrollment percentage is {:.2f}".format(final_ds["%_hispanic"].std()))
print("\n")

print("The mean White enrollment percentage is {:.2f}".format(final_ds["%_white"].mean()))
print("The std of White enrollment percentage is {:.2f}".format(final_ds["%_white"].std()))
print("\n")

print("The mean poverty percentage is {:.2f}".format(final_ds["%_poverty"].mean()))
print("The std of poverty percentage is {:.2f}".format(final_ds["%_poverty"].std()))
print("\n")

#### Scatter Plots and Correlation

In [ ]:
print("The correlation is {:.2f}".format(final_ds["%_white"].corr(final_ds["%_poverty"])))
plt.scatter(final_ds["%_white"],final_ds["%_poverty"],alpha = 0.3)
plt.xlabel("White Percentage")
plt.ylabel("Poverty")

In [ ]:
print("The correlation is {:.2f}".format(final_ds["%_asian"].corr(final_ds["%_poverty"])))
plt.scatter(final_ds["%_asian"],final_ds["%_poverty"],alpha = 0.3)
plt.xlabel("Asian Percentage")
plt.ylabel("Poverty")

In [ ]:
print("The correlation is {:.2f}".format(final_ds["%_hispanic"].corr(final_ds["%_poverty"])))
plt.scatter(final_ds["%_hispanic"],final_ds["%_poverty"],alpha = 0.3)
plt.xlabel("Hispanic Percentage")
plt.ylabel("Poverty")

In [ ]:
print("The correlation is {:.2f}".format(final_ds["%_black"].corr(final_ds["%_poverty"])))
plt.scatter(final_ds["%_black"],final_ds["%_poverty"],alpha = 0.3)
plt.xlabel("Black Percentage")
plt.ylabel("Poverty")

#### Relationship betwen mean student population and percent of unhoused students in each district per borough in scatterplots
The following scatterplots groups the dataframe by borough to show the relationship between mean student population and percent of students unhoused. Each point in the scatter plot is a district within the borough. We also found the correlation between both variables to see if student population size correlates with unhoused students. Each borough has their own scatter plot.

In [ ]:
by_bronx = final_ds.loc[final_ds["borough"] == "Bronx"]
le_bronx = by_bronx.groupby("borough_and_district_#").mean()

print("The correlation is {:.2f}".format(le_bronx["#_total_students"].corr(le_bronx["%_students_in_temporary_housing"])))

plt.scatter(le_bronx["#_total_students"], le_bronx["%_students_in_temporary_housing"])#, labels = "borough_and_district_#")
plt.xlabel("Total student population in each school")
plt.ylabel("Percent of students in Temporary Housing")
plt.title("Bronx")
plt.show()

In [ ]:
by_brooklyn = final_ds.loc[final_ds["borough"] == "Brooklyn"]
le_brooklyn = by_brooklyn.groupby("borough_and_district_#").mean()

print("The correlation is {:.2f}".format(le_brooklyn["#_total_students"].corr(le_brooklyn["%_students_in_temporary_housing"])))


plt.scatter(le_brooklyn["#_total_students"], le_brooklyn["%_students_in_temporary_housing"])#, labels = "borough_and_district_#")
plt.xlabel("Total student population in each school")
plt.ylabel("Percent of students in Temporary Housing")
plt.title("Brooklyn")
plt.show()

In [ ]:
by_manhattan = final_ds.loc[final_ds["borough"] == "Manhattan"]
le_manhattan = by_manhattan.groupby("borough_and_district_#").mean()
print("The correlation is {:.2f}".format(le_manhattan["#_total_students"].corr(le_manhattan["%_students_in_temporary_housing"])))

plt.scatter(le_manhattan["#_total_students"], le_manhattan["%_students_in_temporary_housing"])#, labels = "borough_and_district_#")
plt.xlabel("Total student population in each school")
plt.ylabel("Percent of students in Temporary Housing")
plt.title("Manhattan")
plt.show()

In [ ]:
by_queens = final_ds.loc[final_ds["borough"] == "Queens"]
le_queens = by_queens.groupby("borough_and_district_#").mean()
print("The correlation is {:.2f}".format(le_queens["#_total_students"].corr(le_queens["%_students_in_temporary_housing"])))
plt.scatter(le_queens["#_total_students"], le_queens["%_students_in_temporary_housing"])#, labels = "borough_and_district_#")
plt.xlabel("Total student population in each school")
plt.ylabel("Percent of students in Temporary Housing")
plt.title("Queens")
plt.show()

In [ ]:
by_SI = final_ds.loc[final_ds["borough"] == "Staten Island"]
le_SI = by_SI.groupby("borough_and_district_#").sum()
plt.scatter(le_SI["#_total_students"], le_SI["%_students_in_temporary_housing"])
plt.xlabel("Total student population in district")
plt.ylabel("Percent of students in Temporary Housing")
plt.title("Staten Island")
plt.show()

# Questions for Reviewers
* Since we wanted to work on different datasets that all looked at different quality of life outcomes across different areas in New York City, what would be suggestions on how to combine our analyses to create a cohesive project?

* Are there any particular parts of our datasets that we cleaned that still seem unnecessary in answering our research questions?

* Based on what we have found and analyzed, is the direction we are going with in our research questions appropriate? Our main concern is that we wanted to explore a variety of factors and have that answer the main, overarching, question, but we were wondering if there was a more targeted and efficient question to pose instead?